<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    {% load static %}
    <script defer type="text/javascript" src="{% static 'webpack-bundle.js' %}"> </script>
    <link rel="icon" href="{% static 'mars-icon.ico'%}" />
    <link rel="stylesheet" href={% static 'css/main.css' %}>

    <title>Terraforming Mars</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    TM Stats
                    <span class="icon">
                        <i class="fas fa-meteor"></i>
                    </span>
                </h1>
                <h2 class="subtitle">Terrforming Mars board game statistics website</h2>
            </div>
        </div>
    </section>

    <section id="app">
    </section>
</body>

</html>
