/* Coolors Exported Palette - https://coolors.co/bc766c-3a2416-926c81-d3bcb4-fefefe */

/* CSS HEX */
--copper-penny: #bc766cff;
--bistre: #3a2416ff;
--mountbatten-pink: #926c81ff;
--silver-pink: #d3bcb4ff;
--white: #fefefeff;

/* CSS HSL */
--copper-penny: hsla(8, 37%, 58%, 1);
--bistre: hsla(23, 45%, 16%, 1);
--mountbatten-pink: hsla(327, 15%, 50%, 1);
--silver-pink: hsla(15, 26%, 77%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$copper-penny: #bc766cff;
$bistre: #3a2416ff;
$mountbatten-pink: #926c81ff;
$silver-pink: #d3bcb4ff;
$white: #fefefeff;

/* SCSS HSL */
$copper-penny: hsla(8, 37%, 58%, 1);
$bistre: hsla(23, 45%, 16%, 1);
$mountbatten-pink: hsla(327, 15%, 50%, 1);
$silver-pink: hsla(15, 26%, 77%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$copper-penny: rgba(188, 118, 108, 1);
$bistre: rgba(58, 36, 22, 1);
$mountbatten-pink: rgba(146, 108, 129, 1);
$silver-pink: rgba(211, 188, 180, 1);
$white: rgba(254, 254, 254, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-right: linear-gradient(90deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-bottom: linear-gradient(180deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-left: linear-gradient(270deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-top-right: linear-gradient(45deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-bottom-right: linear-gradient(135deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-top-left: linear-gradient(225deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-bottom-left: linear-gradient(315deg, #bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);
$gradient-radial: radial-gradient(#bc766cff, #3a2416ff, #926c81ff, #d3bcb4ff, #fefefeff);